body{
    background:#3f6aa3;
    color:red;
    font-family:Arial, sans-serif;
    padding:30px;
}

h1{
    font-size:40px;
}

fieldset{
    border:2px solid #ddd;
    padding:20px;
    width:600px;
}

.row{
    display:flex;
    align-items:center;
    margin:15px 0;
}

.color-box{
    width:70px;
    height:35px;
    border:3px solid #ddd;
    margin-left:15px;
    cursor:pointer;
    border-radius:5px;
}

#bgBox{
    background:#3f6aa3;
}

#textBox{
    background:red;
}

button{
    margin-top:15px;
    padding:5px 15px;
    cursor:pointer;
}

/* MODAL */

.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
}

.modal-content{
    background:#2f2f2f;
    padding:20px;
    border-radius:10px;
    width:400px;
}

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

.color-grid{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:10px;
    margin-top:15px;
}

.color-option{
    height:40px;
    border-radius:5px;
    cursor:pointer;
    border:2px solid transparent;
}

.color-option.selected{
    border:2px solid white;
}